##### Define a function using def function_name(parameter). The body of a function must be indented. Call a function using function_name(value).
##### Numbers are stored as integers or floating-point numbers.
##### Variables defined within a function can only be seen and used within the body of the function.
##### Variables created outside of any function are called global variables.
##### Within a function, we can access global variables.
##### Variables created within a function override global variables if their names match.
##### Use help(thing) to view help for something.
##### Put docstrings in functions to provide help for that function.
###### Specify default values for parameters when defining a function using name=value in the parameter list.
##### Parameters can be passed by matching based on name, by position, or by omitting them (in which case the default value is used).
##### Put code whose parameters change frequently in a function, then call it with different parameter values to customize its behavior.

In [ ]:
def say_hallo():
    print("hello")
    print("my name")
    print("ist boris")

In [2]:
say_hallo()

hello
my name
ist boris

In [3]:
def say_hello(name):
    print(f"hello {name}")

In [4]:
say_hello("boris")

hello boris

In [5]:
def say_hello(name = "default"):
    print(f"hello {name}")

In [6]:
say_hello()

hello default

In [7]:
def add_num(num1 , num2):
    return num1 + num2

In [8]:
add_num(10,20)

30

In [10]:
def even_check(number):
    result = number%2 == 0
    return result

In [11]:
even_check(20)

True

In [12]:
def even_check_1(number):
    return number%2 == 0

In [13]:
even_check_1(20)

True

In [14]:
def check_even_list(my_list):
    for number in my_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [15]:
check_even_list([1, 3, 5])

False

In [16]:
check_even_list([1, 4, 5])

True

In [17]:
check_even_list([2, 1, 5])

True

In [18]:
check_even_list([1, 3, 6])

True

In [19]:
def check_even_list_2(my_list):
    # return all the even number in a list
    # create a plceholder
    
    eve_numbers = []
    
    for number in my_list:
        if number%2 == 0:
            eve_numbers.append(number)
        
    return eve_numbers

In [20]:
check_even_list_2([1, 2, 3, 4, 5])

[2, 4]

In [21]:
check_even_list_2([1, 3, 5])

[]

### Tuples

In [23]:
stock_prices =  [("APPL", 200),("GOOG", 400),("MSFT", 100)]

In [24]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [25]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [26]:
work_hours =  [("Abby", 100),("Billy", 4000),("Cassie", 800)]

In [27]:
def employe_check(work_hours):
    current_max = 0
    employee_of_month = ""
    
    for enployee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = enployee
        else:
            pass
             
    return (current_max , employee_of_month)

In [28]:
employe_check(work_hours)

(4000, 'Billy')

In [29]:
result_3 = employe_check(work_hours)

In [30]:
result_3

(4000, 'Billy')

In [31]:
item = employe_check(work_hours)

In [32]:
item

(4000, 'Billy')

In [33]:
example = [1,2,3,4,5,6,7]

In [35]:
from random import shuffle

In [36]:
shuffle(example)

In [37]:
example

[1, 6, 2, 3, 4, 7, 5]

In [38]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [39]:
result_5 = shuffle_list(example)

In [40]:
result_5

[5, 7, 4, 2, 3, 6, 1]

In [41]:
mylist = [" ", "O", " "]

In [42]:
shuffle_list(mylist)

['O', ' ', ' ']

In [43]:
def my_func(a,b):
    return sum((a,b))*0.05

In [44]:
my_func(40,60)

5.0

In [45]:
my_func(40,60)

5.0

In [46]:
def my_func(*args):
    return sum(args)* 0.05

In [47]:
my_func(10,30,30,20)

4.5

In [48]:
def my_func(*args):
    for item in args:
        print(item)

In [49]:
my_func(10,30,30,20)

10
30
30
20

In [50]:
print(" print hello \n welt")

 print hello
 welt

In [53]:
x = "mein Name ist"

In [54]:
x + " " "boris"

'mein Name ist boris'

In [55]:
x + " " "boris"

'mein Name ist boris'

In [56]:
x.upper()

'MEIN NAME IST'

In [57]:
print(" this ist the string {}".format(" boris "))

 this ist the string  boris

In [59]:
Name = "Junior"

In [60]:
print(f" this ist the string {Name}")

 this ist the string Junior

In [61]:
print(" the fac {} {} {}".format("boris", "thibaut", "junior"))

 the fac boris thibaut junior

In [64]:
premier_Nom = "boris"
second_nom = "thibaut"
troisieme_Nom = "junior"

In [65]:
print(F"tous les trois noms sont {premier_Nom} {second_nom} {troisieme_Nom}" )

tous les trois noms sont boris thibaut junior

In [66]:
print(" the fac {1} {2} {0}".format("boris", "thibaut", "junior"))

 the fac thibaut junior boris

In [67]:
print(" the fac {1} {1} {1}".format("boris", "thibaut", "junior"))

 the fac thibaut thibaut thibaut

In [68]:
print(" the fac {b} {t} {j}".format(b = "boris", t = "thibaut", j = "junior"))

 the fac boris thibaut junior

In [69]:
age = 17

In [71]:
print(f"{Name} ist {age} year old.")

Junior ist 17 year old.

In [72]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [73]:
example_row = [1,2,3]

display(example_row,example_row,example_row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [74]:
def lesser_of_two_evens(a,b):
    if a&2 == 0 and b&2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [75]:
lesser_of_two_evens(4,2)

4

In [79]:
lesser_of_two_evens(10,15)

15

In [80]:
def string_1(x,y):
    if x[0] == y[0]:
        return True
    else:
        return False

In [81]:
string_1("boris","junior")

False

In [82]:
def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [83]:
animal_crackers('Levelheaded Llama')

True

In [84]:
animal_crackers('Crazy Kangaroo')

False

In [85]:
def animal_crackers_1(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [86]:
animal_crackers_1('Levelheaded Llama')

True

In [87]:
animal_crackers_1('Crazy Kangaroo')

False

In [88]:
def sum_1(a,b):
    if (a + b == 20):
        return True
    elif a == 20 or b == 20:
        return True
    else:
        return False

In [89]:
sum_1(10,15)

False

In [90]:
sum_1(5,15)

True

In [91]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [95]:
makes_twenty(10 , 20)

True

In [96]:
makes_twenty(10 , 25)

False

In [97]:
def old_macdonald(x):
    return "x".capitalize() and "x".capitalize()

In [98]:
old_macdonald("junior")

'X'

In [99]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [100]:
old_macdonald("junior")

'JunIor'

In [101]:
old_macdonald('macdonald')

'MacDonald'

In [102]:
x = " mein name ist boris tondjua thibaut"

In [105]:
x_1 = x.split()

In [106]:
x_1

['mein', 'name', 'ist', 'boris', 'tondjua', 'thibaut']

In [107]:
def master_yoda_1(text):
    return text[::-1]

In [108]:
master_yoda_1('We are ready')

'ydaer era eW'

In [109]:
master_yoda_1('I am home')

'emoh ma I'

In [110]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [113]:
master_yoda('We are ready')

'ready are We'

In [114]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [115]:
almost_there(90)

True

In [116]:
almost_there(104)

True

In [117]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        #if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [118]:
# Check
has_33([1, 3, 3])

True

In [119]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [120]:
def has_test(nums):
    for i in range(0, len(nums)-1):
        print(nums)

In [121]:
has_test([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [1]:
def has_test_1(nums):
    for i in range(0, len(nums)):
        print(nums)

In [3]:
def ran_check(num, low, high):
    if num in range(num, high+1):
        print(" {} is in range between {} and {}".format(num, low, high))
    else:
            print(" the number is outside of range")

In [4]:
ran_check(5,2,7)

 5 is in range between 2 and 7

In [125]:
ran_check(10,2,7)

 the number is outside of range

In [126]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [127]:
ran_bool(20,2,7)

False

In [128]:
def ran_bool_1(num, low):
    result = num + low
    return result

In [129]:
ran_bool_1(10,20)

30

In [130]:
def myfunc(name):
    print("hello my name is {}".format(name))

In [131]:
myfunc("jose")

hello my name is jose

In [132]:
def myfunc_1(name):
    print(f"hello my name is {name}")

In [133]:
myfunc_1("jose")

hello my name is jose

In [134]:
def myfunc_2(a):
   if a == True:
    return "hello"
   elif a == False:
        return "goodbye"

In [136]:
myfunc_2(True)

'hello'

In [137]:
myfunc_2(False)

'goodbye'

In [138]:
def myfunc_3(x,y,z):
    if x:
        return x
    else:
        return y

In [139]:
myfunc_3("hello", "boris" , False)

'hello'

In [140]:
def myfunc_4(x,y,z):
    if z:
        # print(x)
        return x
    else:
        # print(y)
        return y

In [141]:
myfunc_4(x = "hello", y = "boris" , z = False)

'boris'

In [142]:
def myfunc_5(a,b):
    return a + b

In [143]:
myfunc_5(5,6)

11

In [144]:
def is_even(a):
    if a%2 == 0:
        return True
    else:
        return False

In [145]:
is_even(10)

True

In [146]:
def is_greater(a,b):
    if a > b:
        return a
    else:
        return False

In [147]:
is_greater(5,5)

False

In [148]:
def myfunc_6(*args):
    return sum(args)

In [149]:
myfunc_6(10,20,30,40,70,80)

250

In [150]:
def myfunc_7(*args):
    liste_1 = []
    for num in args:
        if num%2 == 0:
            liste_1.append(num)
    return liste_1

In [151]:
myfunc_7(1,2,3,6,5,9,8,7)

[2, 6, 8]

In [152]:
def myfunc_8(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [153]:
myfunc_8(1,2,3,6,5,9,8,7)

[2, 6, 8]

In [156]:
def myfunc_9(x):
    out = []
    for i in range(len(x)):
        if i%2 == 0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [157]:
myfunc_9("boriso")

'bOrIsO'

In [158]:
def has_33(nums):
    for i in range( 0 , len(nums)-1 ):
        print(nums)
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [159]:
has_33([1, 3, 3])

[1, 3, 3]
[1, 3, 3]

True

In [160]:
def paper_doll(text):
    result = " "
    for char in text:
        result += char * 3
    return result

In [161]:
paper_doll("hello")

' hhheeellllllooo'

In [162]:
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

In [163]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c))<= 31 and 11 in (a,b,c):
        return sum(a,b,c) - 10
    else:
        return "Bust"

In [164]:
blackjack(5,6,7)

18

In [165]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [166]:
blackjack(5,6,7)

18

In [167]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [168]:
spy_game([1,2,4,0,0,7,5])

True

## The Map() function : the function map() is apply on all the element of the objet

In [171]:
def square(num):
    return num**2

In [172]:
my_nums = [1, 2, 3, 4, 5]

In [173]:
map(square, my_nums)

In [174]:
for item in map(square, my_nums): # ce veut dire : applique moi la fonction map() a lobjet my_nums
    print(item)

1
4
9
16
25

In [175]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [176]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return "EVEN"
    else:
        return mystring[0]

In [177]:
names = ["boris" , "junior" , "thibaut"]

In [178]:
list(map(splicer, names))
# tres important , quand tu use la fonction map(, tu passe les autres fonction a l interieur dwe lui comme des 
# simpes arguments sans plus mettre les parantheses)

['b', 'EVEN', 't']

In [179]:
for name in map(splicer , names):
    print(names)

['boris', 'junior', 'thibaut']
['boris', 'junior', 'thibaut']
['boris', 'junior', 'thibaut']

### Filter() fonction you need to filter by fonction that return True or False when you use the filter function you have to return a boolean either True or False

In [181]:
def check_even(num):
    return num % 2 == 0

In [182]:
liste_nums = [1,2,3,4,5,6]

In [183]:
list(filter(check_even, liste_nums))

[2, 4, 6]

In [186]:
list(map(square, liste_nums))

[1, 4, 9, 16, 25, 36]

In [187]:
for num in filter(check_even, liste_nums):
    print(num)

2
4
6

### Lambda expression

In [188]:
def square(num):
    result = num**2
    return result

In [189]:
square(3)

9

In [190]:
def square(num):return  num**2

In [191]:
lambda num:  num**2

In [192]:
square = lambda num:  num**2
# Mais vu que la fonction lambda est une fontion anonyme tu n a pas besoin de lui attribuer 
# un nom comme square(), par contre lambda peut etre utiliser 
# en combinaison avec map() ou filter()

In [193]:
square(5)

25

In [194]:
list(map(lambda num: num**2, liste_nums))
# l avantage ici est que tu applique la fonction lambda sur la liste sans avoir 
# besoin au prealabre de definir une fonction

[1, 4, 9, 16, 25, 36]

In [197]:
map(lambda num: num**2, liste_nums)

In [198]:
list (filter (lambda num :num % 2 == 0, liste_nums))

[2, 4, 6]

In [199]:
names = ["boris" , "junior" , "thibaut"]

In [200]:
list (map (lambda x : x[0], names))

['b', 'j', 't']

In [201]:
list (map (lambda x : x[::-1], names))

['sirob', 'roinuj', 'tuabiht']

In [202]:
x = 25

def printer():
    x = 50
    return x

In [205]:
print(x)
print(printer())

25
50

#### LEGB Rule
#### L: Local - Names assigneg in any within a function(def or lambda) and not declared golbal in that function
#### E: Enclosing function locals- Names in the local scope of any all enclosing functions (def or lambda) from inner to outer
#### G: Global (module) - Names assigned at the top-level of a module file,or declared global in a def within the file
#### B: Built-in(Python) - Names preassingned on the built-in names module: open, range,SyntaxEttor...

In [206]:
lambda num: num**2 # example aof local
# num hier ist local to the lambda expression

In [207]:
# example of enclosing function local
name = "THIS IS A GLOBAL STRING"

def greet():
    name = "Sammy"
    
    def hello():
        print("Hello" + " " + name)
        
    hello()

greet()

Hello Sammy

In [208]:
# example of enclosing function local
name = "THIS IS A GLOBAL STRING"

def greet_2():
#    name = "Sammy"
    
    def hello():
        print("Hello" + " " + name)
        
    hello()

greet_2()

Hello THIS IS A GLOBAL STRING

In [209]:
# example of enclosing function local
# GLOBAL
name = "THIS IS A GLOBAL STRING"

def greet():
    
    # ENCLUSING
    name = "Sammy"
    
    def hello():
        #LOCAL
        name = " I AM A LOCAL "
        print("Hello" + " " + name)
        
    hello()

In [210]:
greet() # En faite ce qui se passe c est qu il regarde  si la variable est defini du bas vers 
# ä vers haut jusqu a la variable globale
# NB Le seul niveau  now au dessus de la la variable global 
# sont les built-in functions de python

Hello  I AM A LOCAL

In [211]:
x = 50 

def func(x):
    print(f"X ist {x}") 
    
    # LOCAL REASSIGMENT
    x = 200
    print(f"I JUST LOCALLY CHANGRD X TO {x}")

In [212]:
func(x)
# ce changement de variable est possible tout simplement par ce qu il lieu localement au 
# niveau de la meme function
# the variable name x only have a Scope( portee, un champ d application) insede these function

X ist 50
I JUST LOCALLY CHANGRD X TO 200

In [213]:
x = 50 

def func_1():
    global x
    print(f"X ist {x}") 
    
    # LOCAL REASSIGMENT ON A GLOBAL VARIABLE
    x = "NEW VALUE"
    print(f"I JUST LOCALLY CHANGRD X TO {x}")

In [214]:
func_1()
# en general il faut eviter de use le nom global pour declarer une variable 
# quand tu est beginner

X ist 50
I JUST LOCALLY CHANGRD X TO NEW VALUE

In [215]:
x = 50 

def func_2(x):
  
    print(f"X ist {x}") 
    
    # LOCAL REASSIGMENT ON A GLOBAL VARIABLE
    x = "NEW VALUE"
    print(f"I JUST LOCALLY CHANGRD X TO {x}")
    return x

In [217]:
print(x)

x = func_2(x)
# par contre cette facon ci est mieux car tu vois clairement coment tu alloues la variable a x
# et s il ya un pb ca sera plus facil a debuguer

NEW VALUE
X ist NEW VALUE
I JUST LOCALLY CHANGRD X TO NEW VALUE

In [218]:
def build_person(first_name, last_name, age=" "):
    person = {"first":first_name, "last" : last_name,}
    if age:
        person["age"] = age
    return person
musician = build_person("jimi", "hendrix", age = 27)

In [219]:
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [220]:
def salutation (noms):
    for nom in noms:
        mgs = "bonjour" + "" + nom
        print(mgs)

In [221]:
nom_person =["boris", "junior" , "hermann"]

In [222]:
salutation(nom_person)

bonjourboris
bonjourjunior
bonjourhermann