In [1]:
def say_hallo():
    print("hello")
    print("my name")
    print("ist boris")

In [2]:
say_hallo()

hello
my name
ist boris

In [3]:
def say_hello(name):
    print(f"hello {name}")

In [4]:
say_hello("boris")

hello boris

In [5]:
def say_hello(name = "default"):
    print(f"hello {name}")

In [6]:
say_hello()

hello default

In [7]:
def add_num(num1 , num2):
    return num1 + num2

In [8]:
add_num(10,20)

30

In [10]:
def even_check(number):
    result = number%2 == 0
    return result

In [11]:
even_check(20)

True

In [12]:
def even_check_1(number):
    return number%2 == 0

In [13]:
even_check_1(20)

True

In [14]:
def check_even_list(my_list):
    for number in my_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [15]:
check_even_list([1, 3, 5])

False

In [16]:
check_even_list([1, 4, 5])

True

In [17]:
check_even_list([2, 1, 5])

True

In [18]:
check_even_list([1, 3, 6])

True

In [20]:
def check_even_list_2(my_list):
    # return all the even number in a list
    # create a plceholder
    eve_numbers = []  
    for number in my_list:
        if number%2 == 0:
            eve_numbers.append(number)
    return eve_numbers

In [21]:
check_even_list_2([1, 2, 3, 4, 5])

[2, 4]

In [22]:
check_even_list_2([1, 3, 5])

[]

In [48]:
def lesser_of_two_evens(a,b):
    if a&2 == 0 and b&2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [49]:
lesser_of_two_evens(4,2)

4

In [50]:
def string_1(x,y):
    if x[0] == y[0]:
        return True
    else:
        return False

In [51]:
string_1("boris","junior")

False

In [54]:
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [55]:
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [56]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [57]:
def animal_crackers_1(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [58]:
animal_crackers_1('Levelheaded Llama')

True

In [59]:
animal_crackers_1('Crazy Kangaroo')

False

In [60]:
def sum_1(a,b):
    if (a + b == 20):
        return True
    elif a == 20 or b == 20:
        return True
    else:
        return False

In [61]:
sum_1(10,15)

False

In [62]:
sum_1(5,15)

True

In [63]:
sum_1(20,10)

True

In [64]:
sum_1(12,8)

True

In [65]:
sum_1(2,3)

False

In [66]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [67]:
def old_macdonald(x):
    return "x".capitalize() and "x".capitalize()

In [68]:
old_macdonald("junior")

'X'

In [69]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [70]:
old_macdonald("junior")

'JunIor'

In [71]:
old_macdonald('macdonald')

'MacDonald'

In [72]:
def master_yoda_1(text):
    return text[::-1]

In [73]:
master_yoda_1('We are ready')

'ydaer era eW'

In [74]:
master_yoda_1('I am home')

'emoh ma I'

In [75]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [76]:
master_yoda('We are ready')

'ready are We'

In [78]:
master_yoda('I am home')

'home am I'

In [79]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [81]:
almost_there(90) #--> True

True

In [82]:
almost_there(104)

True

In [83]:
almost_there(150)#--> False

False

In [84]:
almost_there(209) #--> True

True

LEVEL 2 PROBLEMS Level 2 - these may require iterating over sequences, usually with some kind of loop

In [85]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        #if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [86]:
# Check
has_33([1, 3, 3])

True

In [87]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [88]:
def has_test(nums):
    for i in range(0, len(nums)-1):
        print(nums)

In [89]:
has_test([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [90]:
def has_test_1(nums):
    for i in range(0, len(nums)):
        print(nums)

In [91]:
has_test_1([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

### Tuple

In [23]:
stock_prices =  [("APPL", 200),("GOOG", 400),("MSFT", 100)]

In [24]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [25]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [26]:
work_hours =  [("Abby", 100),("Billy", 4000),("Cassie", 800)]

In [27]:
def employe_check(work_hours):
    current_max = 0
    employee_of_month = ""
    
    for enployee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = enployee
        else:
            pass
             
    return (current_max , employee_of_month)

In [28]:
employe_check(work_hours)

(4000, 'Billy')

In [29]:
result_3 = employe_check(work_hours)

In [30]:
result_3

(4000, 'Billy')

In [32]:
item = employe_check(work_hours)
item

(4000, 'Billy')

In [33]:
example = [1,2,3,4,5,6,7]

In [34]:
from random import shuffle

In [35]:
shuffle(example)

In [36]:
example

[6, 4, 1, 7, 3, 2, 5]

In [37]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [39]:
result_5 = shuffle_list(example)
result_5

[1, 7, 6, 2, 5, 4, 3]

In [40]:
mylist = [" ", "O", " "]

In [41]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [42]:
def my_func(a,b):
    return sum((a,b))*0.05

In [43]:
my_func(40,60)

5.0

In [44]:
def my_func(*args):
    return sum(args)* 0.05

In [45]:
my_func(10,30,30,20)

4.5

In [46]:
def my_func(*args):
    for item in args:
        print(item)

In [47]:
my_func(10,30,30,20)

10
30
30
20

In [92]:
def volume(r):
    return (2/3)*(3.14)*(r)**3

In [93]:
volume(10)

2093.3333333333335

In [94]:
def ran_check(num, low, high):
    if num in range(num, high+1):
        print(" {} is in range between {} and {}".format(num, low, high))
    else:
            print(" the number is outside of range")

In [95]:
ran_check(5,2,7)

 5 is in range between 2 and 7

In [96]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [97]:
ran_bool(20,2,7)

False

In [98]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [99]:
ran_bool(20,2,7)

False

In [100]:
def ran_bool_1(num, low):
    result = num + low
    return result

In [102]:
ran_bool_1(10,20)

30